body {
    overflow-x: hidden;
}


.add-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    font-weight: bold;
}

.add-image:hover{
    box-shadow: 5px 10px 10px 10px rgba(128, 128, 128, 0.425);
    cursor: pointer;
}

.card {
    transition: transform 0.90s;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.card:hover {
    transform: translate(0, -5px);
    box-shadow: 5px 10px 10px 10px rgba(128, 128, 128, 0.425);
}



.card input {
    height: 30px;
    width: 30px;
}