body {
    /* margin: 20px; */
}


.add-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

/* .main {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.card {
    transition: transform 0.90s;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.card:hover {
    transform: translate(0, -10px);
    box-shadow: 5px 10px 10px 10px rgba(128, 128, 128, 0.425);
}
